body{
	margin: 0px;
	padding:0px;
	background-image:url(../img/bg.jpg);
	background-attachment: fixed;
} 

#all{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header{
	width: 964px;
	color: white;
	text-align: center;
	padding: 15px;
	border: medium solid grey;
	border-radius: 20px 20px 0px 0px; 
	background-image:url(../img/he.jpg);
}


#page{
	float: left;
	width: 994px;
	border-left: medium solid grey;
	border-right: medium solid grey;
}

#tables{
	margin: 0px;
	position: relative;
}

#left {
	float: left;
	padding: 10px;
}
#middle {
	float: left;
	padding: 10px;
}
#right {
    float: left;
	margin-top: 5 px;
	padding: 10px;
}

#footer{
	clear: both;

	color: white;
	text-align: center;
	padding: 20px;
	border: medium solid grey;
	border-radius: 0px 0px 20px 20px; 
	background-image:url(../img/he.jpg);
}	

.button{
	border: small solid grey;
	border-radius: 5px 5px 5px 5px; 
}