#all{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#header{
	background-color: black;
	width: 1000px;
	color: white;
	text-align: center;
	padding: 15px;
}

#nav{
	float: left;
	width: 120px;
	min-height: 620px;
	padding: 10px;
}
#page{
	float: left;
	padding: 20px;
	width: 640px;
	}
	
#footer{
	clear: both;
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px;
}	